.sidebarSourceBtn {
  width: 10em;
}
.sourceSidebarBtnGroup {
  display: flex;
  margin-top: 0.25em;
  text-align: center;
  margin-top: 0 !important;
}
.sourceListItem {
  padding-top: 0.5em !important;
  padding-left: 0.5em !important;
}
.filterSearchBtn {
  margin-top: 0.25em !important;
}

.sourceSidebarContainer {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.sourceSidebarActions {
  flex-basis: auto;
}

.sourceSidebarList {
  overflow-y: scroll;
}
