html, body {
  margin: 0;
  padding: 0;

}

.rootContainer {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0; 
  right: 0; 
  bottom: 0; 
  left: 0;
  overflow: hidden;
}
.contentContainer {
  flex-grow: 1;
  display: flex;
}

.actionBarContainer {
  width: 7em;
}
.actionDetailsContainer {
  top: 0; 
  bottom: 0;
  min-width: 20em;
  width: 20em;
}
.articleSectionContainer {
  top: 0; 
  bottom: 0;
  flex-grow: 1;
  overflow-y: scroll;
  padding-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
}
::-webkit-scrollbar {
  width: 12px;
}



/* Webkit Scrollbars -- Global */
/* Partially taken from https://codepen.io/tholman/pen/tldwm */
/* !important overrides for Semantic UI */
::-webkit-scrollbar
{
	background-color: #F5F5F5 !important;
  border-radius: 10px !important;
  width: 5px !important;
}

::-webkit-scrollbar-thumb
{
	background-color: #0ae !important;
	border-radius: 10px !important;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,
	                   color-stop(.5, rgba(255, 255, 255, .2)),
					   color-stop(.5, transparent), to(transparent)) !important;
}
